<% if current_user %>
<ul>
  <li><%= link_to "Aquarium", users_path, class: "link" %></li>
  <li><%= link_to "Profile", user_path(:id), class: "link" %></li>
  <li><%= link_to "Fish", items_path, class: "link" %></li>
  <li><%= link_to 'Logout', session_path, method: :delete, class: "link" %></li>
</ul>
<% else %>
  <li><%= link_to "Login", {controller: "sessions", action: "new"}, class: "link" %></li>
<% end %>
