<% if current_user %>
<ul>
  <li><%= button_to 'Logout', session_path, method: :delete %></li>
  <li><%= link_to "Profile", user_path(:id) %></li>
  <li><%= link_to "Aquarium", users_path %></li>
  <li><%= link_to "Items", items_path %></li>
</ul>
<% else %>
  <%= link_to 'log in', new_session_path %>
<% end %>
