<!DOCTYPE html>
<html>
  <head>
    <title>AquariumApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','jquery', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag('bubbles') %>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
  </head>

  <body>
    <div class="main">
      <nav><%= render "partials/nav" %></nav>
      <%= render "partials/flashMessages" %>
      <%= yield %>
    </div>
    <%= render "partials/aquarium-floor" %>
  </body>
</html>
